html {
  font-size: 20px;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  max-width: 40em;
  padding: 1em;
}

.logo {
  font-size: 2rem;
  color: darkred;
  font-family: monospace;
  letter-spacing: 1px;
}
